In [10]:
import pandas as pd
import numpy as np

In [18]:
subscriptions = pd.read_csv('../data/subscriptions.csv')

In [19]:
print(subscriptions.head())

        account.id     season  package  no.seats           location
0  001i000000LhyR3  2009-2010  Quartet         2      San Francisco  \
1  001i000000NuOeY  2000-2001     Full         2      San Francisco
2  001i000000NuNvb  2001-2002     Full         2  Berkeley Saturday
3  001i000000NuOIz  1993-1994  Quartet         1       Contra Costa
4  001i000000NuNVE  1998-1999     Full         2    Berkeley Sunday

             section  price.level  subscription_tier multiple.subs
0  Premium Orchestra          1.0                1.0            no
1          Orchestra          2.0                2.0            no
2      Balcony Front          3.0                2.0            no
3          Orchestra          2.0                0.5            no
4       Balcony Rear          4.0                2.0            no

In [24]:

# drop package, location, section, and multiple.subs columns from df
subs = subscriptions.drop(['package', 'location', 'section', 'multiple.subs'], axis=1)
print(subs.head())

print(subs.info())
print(subs.shape)

        account.id     season  no.seats  price.level  subscription_tier
0  001i000000LhyR3  2009-2010         2          1.0                1.0
1  001i000000NuOeY  2000-2001         2          2.0                2.0
2  001i000000NuNvb  2001-2002         2          3.0                2.0
3  001i000000NuOIz  1993-1994         1          2.0                0.5
4  001i000000NuNVE  1998-1999         2          4.0                2.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28627 entries, 0 to 28626
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   account.id         28627 non-null  object
 1   season             28627 non-null  object
 2   no.seats           28627 non-null  int64
 3   price.level        25093 non-null  float64
 4   subscription_tier  28627 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.1+ MB
None
(28627, 5)

In [29]:
# group by season and then one-hot encode them
seasons = pd.get_dummies(subs['season'])
# print(seasons.head())
# make these ints not bools
seasons = seasons.astype(int)
# merge seasons will subs df (after dropping season from it)
subs_temp = subs.drop('season', axis=1)

subs_df = pd.concat([subs_temp, seasons], axis=1)


print(subs_df.head(1))
print(subs_df.info())
print(subs_df.columns)
print(subs_df.shape)

        account.id  no.seats  price.level  subscription_tier  1993-1994
0  001i000000LhyR3         2          1.0                1.0          0  \

   1994-1995  1995-1996  1996-1997  1997-1998  1998-1999  ...  2004-2005
0          0          0          0          0          0  ...          0  \

   2005-2006  2006-2007  2007-2008  2008-2009  2009-2010  2010-2011
0          0          0          0          0          1          0  \

   2011-2012  2012-2013  2013-2014
0          0          0          0

[1 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28627 entries, 0 to 28626
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   account.id         28627 non-null  object
 1   no.seats           28627 non-null  int64
 2   price.level        25093 non-null  float64
 3   subscription_tier  28627 non-null  float64
 4   1993-1994          28627 non-null  int32
 5   1994-1995          28627 non-null  int32
 6   1995-1996          28627 non-null  int32
 7   1996-1997          28627 non-null  int32
 8   1997-1998          28627 non-null  int32
 9   1998-1999          28627 non-null  int32
 10  1999-2000          28627 non-null  int32
 11  2000-2001          28627 non-null  int32
 12  2001-2002          28627 non-null  int32
 13  2002-2003          28627 non-null  int32
 14  2003-2004          28627 non-null  int32
 15  2004-2005          28627 non-null  int32
 16  2005-2006          28627 non-null  int32
 17  2006-2007          28627 non-null  int32
 18  2007-2008          28627 non-null  int32
 19  2008-2009          28627 non-null  int32
 20  2009-2010          28627 non-null  int32
 21  2010-2011          28627 non-null  int32
 22  2011-2012          28627 non-null  int32
 23  2012-2013          28627 non-null  int32
 24  2013-2014          28627 non-null  int32
dtypes: float64(2), int32(21), int64(1), object(1)
memory usage: 3.2+ MB
None
Index(['account.id', 'no.seats', 'price.level', 'subscription_tier',
       '1993-1994', '1994-1995', '1995-1996', '1996-1997', '1997-1998',
       '1998-1999', '1999-2000', '2000-2001', '2001-2002', '2002-2003',
       '2003-2004', '2004-2005', '2005-2006', '2006-2007', '2007-2008',
       '2008-2009', '2009-2010', '2010-2011', '2011-2012', '2012-2013',
       '2013-2014'],
      dtype='object')
(28627, 25)

In [30]:
# do the steps I did above but for a function with an input as the OG subs df
def one_hot_seasons(df):
    seasons = pd.get_dummies(df['season'])
    seasons = seasons.astype(int)
    df_temp = df.drop('season', axis=1)
    df = pd.concat([df_temp, seasons], axis=1)
    return df

# test the function
subs_df = one_hot_seasons(subs)
print(subs_df.head(1))
print(subs_df.info())
print(subs_df.columns)
print(subs_df.shape)

        account.id  no.seats  price.level  subscription_tier  1993-1994
0  001i000000LhyR3         2          1.0                1.0          0  \

   1994-1995  1995-1996  1996-1997  1997-1998  1998-1999  ...  2004-2005
0          0          0          0          0          0  ...          0  \

   2005-2006  2006-2007  2007-2008  2008-2009  2009-2010  2010-2011
0          0          0          0          0          1          0  \

   2011-2012  2012-2013  2013-2014
0          0          0          0

[1 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28627 entries, 0 to 28626
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   account.id         28627 non-null  object
 1   no.seats           28627 non-null  int64
 2   price.level        25093 non-null  float64
 3   subscription_tier  28627 non-null  float64
 4   1993-1994          28627 non-null  int32
 5   1994-1995          28627 non-null  int32
 6   1995-1996          28627 non-null  int32
 7   1996-1997          28627 non-null  int32
 8   1997-1998          28627 non-null  int32
 9   1998-1999          28627 non-null  int32
 10  1999-2000          28627 non-null  int32
 11  2000-2001          28627 non-null  int32
 12  2001-2002          28627 non-null  int32
 13  2002-2003          28627 non-null  int32
 14  2003-2004          28627 non-null  int32
 15  2004-2005          28627 non-null  int32
 16  2005-2006          28627 non-null  int32
 17  2006-2007          28627 non-null  int32
 18  2007-2008          28627 non-null  int32
 19  2008-2009          28627 non-null  int32
 20  2009-2010          28627 non-null  int32
 21  2010-2011          28627 non-null  int32
 22  2011-2012          28627 non-null  int32
 23  2012-2013          28627 non-null  int32
 24  2013-2014          28627 non-null  int32
dtypes: float64(2), int32(21), int64(1), object(1)
memory usage: 3.2+ MB
None
Index(['account.id', 'no.seats', 'price.level', 'subscription_tier',
       '1993-1994', '1994-1995', '1995-1996', '1996-1997', '1997-1998',
       '1998-1999', '1999-2000', '2000-2001', '2001-2002', '2002-2003',
       '2003-2004', '2004-2005', '2005-2006', '2006-2007', '2007-2008',
       '2008-2009', '2009-2010', '2010-2011', '2011-2012', '2012-2013',
       '2013-2014'],
      dtype='object')
(28627, 25)

In [32]:
# count duplicate account.ids

account.id
001i000000LhyQf    21
001i000000LhydM    21
001i000000LhyT1    21
001i000000LhybY    21
001i000000LhybE    21
                   ..
001i000000LhySa    21
001i000000LhyPd    21
001i000000LhyZP    21
001i000000LhyRQ    21
001i000000LhySE    21
Name: count, Length: 100, dtype: int64

In [33]:
subs_new = subscriptions.copy()
print(subs_new.head())

        account.id     season  package  no.seats           location
0  001i000000LhyR3  2009-2010  Quartet         2      San Francisco  \
1  001i000000NuOeY  2000-2001     Full         2      San Francisco
2  001i000000NuNvb  2001-2002     Full         2  Berkeley Saturday
3  001i000000NuOIz  1993-1994  Quartet         1       Contra Costa
4  001i000000NuNVE  1998-1999     Full         2    Berkeley Sunday

             section  price.level  subscription_tier multiple.subs
0  Premium Orchestra          1.0                1.0            no
1          Orchestra          2.0                2.0            no
2      Balcony Front          3.0                2.0            no
3          Orchestra          2.0                0.5            no
4       Balcony Rear          4.0                2.0            no

In [41]:
# take season and pivot it so that each column has a season and each row has an account.id
# then fill in the values with the number of subscriptions for that season
subs_pivot = subs_new.pivot_table(index='account.id', columns='season', values='subscription_tier', aggfunc='max')
# fill nans with 0
subs_pivot = subs_pivot.fillna(0)
# print(subs_pivot.head())
print(subs_pivot.columns)

Index(['1993-1994', '1994-1995', '1995-1996', '1996-1997', '1997-1998',
       '1998-1999', '1999-2000', '2000-2001', '2001-2002', '2002-2003',
       '2003-2004', '2004-2005', '2005-2006', '2006-2007', '2007-2008',
       '2008-2009', '2009-2010', '2010-2011', '2011-2012', '2012-2013',
       '2013-2014'],
      dtype='object', name='season')