In [1]:
import pandas as pd
import numpy as np

In [2]:
subscriptions = pd.read_csv('../data/subscriptions.csv')

In [3]:
print(subscriptions.head())

        account.id     season  package  no.seats           location
0  001i000000LhyR3  2009-2010  Quartet         2      San Francisco  \
1  001i000000NuOeY  2000-2001     Full         2      San Francisco
2  001i000000NuNvb  2001-2002     Full         2  Berkeley Saturday
3  001i000000NuOIz  1993-1994  Quartet         1       Contra Costa
4  001i000000NuNVE  1998-1999     Full         2    Berkeley Sunday

             section  price.level  subscription_tier multiple.subs
0  Premium Orchestra          1.0                1.0            no
1          Orchestra          2.0                2.0            no
2      Balcony Front          3.0                2.0            no
3          Orchestra          2.0                0.5            no
4       Balcony Rear          4.0                2.0            no

In [4]:

# drop package, location, section, and multiple.subs columns from df
subs = subscriptions.drop(['package', 'location', 'section', 'multiple.subs'], axis=1)
print(subs.head())

print(subs.info())
print(subs.shape)

        account.id     season  no.seats  price.level  subscription_tier
0  001i000000LhyR3  2009-2010         2          1.0                1.0
1  001i000000NuOeY  2000-2001         2          2.0                2.0
2  001i000000NuNvb  2001-2002         2          3.0                2.0
3  001i000000NuOIz  1993-1994         1          2.0                0.5
4  001i000000NuNVE  1998-1999         2          4.0                2.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28627 entries, 0 to 28626
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   account.id         28627 non-null  object
 1   season             28627 non-null  object
 2   no.seats           28627 non-null  int64
 3   price.level        25093 non-null  float64
 4   subscription_tier  28627 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.1+ MB
None
(28627, 5)

In [5]:
# group by season and then one-hot encode them
seasons = pd.get_dummies(subs['season'])
# print(seasons.head())
# make these ints not bools
seasons = seasons.astype(int)
# merge seasons will subs df (after dropping season from it)
subs_temp = subs.drop('season', axis=1)

subs_df = pd.concat([subs_temp, seasons], axis=1)


print(subs_df.head(1))
print(subs_df.info())
print(subs_df.columns)
print(subs_df.shape)

        account.id  no.seats  price.level  subscription_tier  1993-1994
0  001i000000LhyR3         2          1.0                1.0          0  \

   1994-1995  1995-1996  1996-1997  1997-1998  1998-1999  ...  2004-2005
0          0          0          0          0          0  ...          0  \

   2005-2006  2006-2007  2007-2008  2008-2009  2009-2010  2010-2011
0          0          0          0          0          1          0  \

   2011-2012  2012-2013  2013-2014
0          0          0          0

[1 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28627 entries, 0 to 28626
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   account.id         28627 non-null  object
 1   no.seats           28627 non-null  int64
 2   price.level        25093 non-null  float64
 3   subscription_tier  28627 non-null  float64
 4   1993-1994          28627 non-null  int32
 5   1994-1995          28627 non-null  int32
 6   1995-1996          28627 non-null  int32
 7   1996-1997          28627 non-null  int32
 8   1997-1998          28627 non-null  int32
 9   1998-1999          28627 non-null  int32
 10  1999-2000          28627 non-null  int32
 11  2000-2001          28627 non-null  int32
 12  2001-2002          28627 non-null  int32
 13  2002-2003          28627 non-null  int32
 14  2003-2004          28627 non-null  int32
 15  2004-2005          28627 non-null  int32
 16  2005-2006          28627 non-null  int32
 17  2006-2007          28627 non-null  int32
 18  2007-2008          28627 non-null  int32
 19  2008-2009          28627 non-null  int32
 20  2009-2010          28627 non-null  int32
 21  2010-2011          28627 non-null  int32
 22  2011-2012          28627 non-null  int32
 23  2012-2013          28627 non-null  int32
 24  2013-2014          28627 non-null  int32
dtypes: float64(2), int32(21), int64(1), object(1)
memory usage: 3.2+ MB
None
Index(['account.id', 'no.seats', 'price.level', 'subscription_tier',
       '1993-1994', '1994-1995', '1995-1996', '1996-1997', '1997-1998',
       '1998-1999', '1999-2000', '2000-2001', '2001-2002', '2002-2003',
       '2003-2004', '2004-2005', '2005-2006', '2006-2007', '2007-2008',
       '2008-2009', '2009-2010', '2010-2011', '2011-2012', '2012-2013',
       '2013-2014'],
      dtype='object')
(28627, 25)

In [6]:
# do the steps I did above but for a function with an input as the OG subs df
def one_hot_seasons(df):
    seasons = pd.get_dummies(df['season'])
    seasons = seasons.astype(int)
    df_temp = df.drop('season', axis=1)
    df = pd.concat([df_temp, seasons], axis=1)
    return df

# test the function
subs_df = one_hot_seasons(subs)
print(subs_df.head(1))
print(subs_df.info())
print(subs_df.columns)
print(subs_df.shape)

        account.id  no.seats  price.level  subscription_tier  1993-1994
0  001i000000LhyR3         2          1.0                1.0          0  \

   1994-1995  1995-1996  1996-1997  1997-1998  1998-1999  ...  2004-2005
0          0          0          0          0          0  ...          0  \

   2005-2006  2006-2007  2007-2008  2008-2009  2009-2010  2010-2011
0          0          0          0          0          1          0  \

   2011-2012  2012-2013  2013-2014
0          0          0          0

[1 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28627 entries, 0 to 28626
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   account.id         28627 non-null  object
 1   no.seats           28627 non-null  int64
 2   price.level        25093 non-null  float64
 3   subscription_tier  28627 non-null  float64
 4   1993-1994          28627 non-null  int32
 5   1994-1995          28627 non-null  int32
 6   1995-1996          28627 non-null  int32
 7   1996-1997          28627 non-null  int32
 8   1997-1998          28627 non-null  int32
 9   1998-1999          28627 non-null  int32
 10  1999-2000          28627 non-null  int32
 11  2000-2001          28627 non-null  int32
 12  2001-2002          28627 non-null  int32
 13  2002-2003          28627 non-null  int32
 14  2003-2004          28627 non-null  int32
 15  2004-2005          28627 non-null  int32
 16  2005-2006          28627 non-null  int32
 17  2006-2007          28627 non-null  int32
 18  2007-2008          28627 non-null  int32
 19  2008-2009          28627 non-null  int32
 20  2009-2010          28627 non-null  int32
 21  2010-2011          28627 non-null  int32
 22  2011-2012          28627 non-null  int32
 23  2012-2013          28627 non-null  int32
 24  2013-2014          28627 non-null  int32
dtypes: float64(2), int32(21), int64(1), object(1)
memory usage: 3.2+ MB
None
Index(['account.id', 'no.seats', 'price.level', 'subscription_tier',
       '1993-1994', '1994-1995', '1995-1996', '1996-1997', '1997-1998',
       '1998-1999', '1999-2000', '2000-2001', '2001-2002', '2002-2003',
       '2003-2004', '2004-2005', '2005-2006', '2006-2007', '2007-2008',
       '2008-2009', '2009-2010', '2010-2011', '2011-2012', '2012-2013',
       '2013-2014'],
      dtype='object')
(28627, 25)

In [7]:
subs_new = subscriptions.copy()
print(subs_new.head())

        account.id     season  package  no.seats           location
0  001i000000LhyR3  2009-2010  Quartet         2      San Francisco  \
1  001i000000NuOeY  2000-2001     Full         2      San Francisco
2  001i000000NuNvb  2001-2002     Full         2  Berkeley Saturday
3  001i000000NuOIz  1993-1994  Quartet         1       Contra Costa
4  001i000000NuNVE  1998-1999     Full         2    Berkeley Sunday

             section  price.level  subscription_tier multiple.subs
0  Premium Orchestra          1.0                1.0            no
1          Orchestra          2.0                2.0            no
2      Balcony Front          3.0                2.0            no
3          Orchestra          2.0                0.5            no
4       Balcony Rear          4.0                2.0            no

In [8]:
# take season and pivot it so that each column has a season and each row has an account.id
# then fill in the values with the number of subscriptions for that season
subs_pivot = subs_new.pivot_table(index='account.id', columns='season', values='subscription_tier', aggfunc='max')
# fill nans with 0
subs_pivot = subs_pivot.fillna(0)
# print(subs_pivot.head())
print(subs_pivot.columns)

Index(['1993-1994', '1994-1995', '1995-1996', '1996-1997', '1997-1998',
       '1998-1999', '1999-2000', '2000-2001', '2001-2002', '2002-2003',
       '2003-2004', '2004-2005', '2005-2006', '2006-2007', '2007-2008',
       '2008-2009', '2009-2010', '2010-2011', '2011-2012', '2012-2013',
       '2013-2014'],
      dtype='object', name='season')

In [13]:
account_df = pd.read_csv('../data/account.csv', encoding_errors='ignore')
print(account_df.head())
print(account_df.dtypes)

        account.id shipping.zip.code billing.zip.code  shipping.city
0  001i000000LhSrQ             94102            94102  San Francisco  \
1  001i000000LhyPD               NaN            94303            NaN
2  001i000000LhyPE               NaN            94597            NaN
3  001i000000LhyPF               NaN            94610            NaN
4  001i000000LhyPG               NaN            94024            NaN

    billing.city relationship  amount.donated.2013  amount.donated.lifetime
0  San Francisco          NaN                  0.0                      0.0  \
1      Palo Alto          NaN                  0.0                    500.0
2   Walnut Creek          NaN                  0.0                    783.0
3        Oakland          NaN               1500.0                  28435.0
4      Los Altos          NaN                300.0                   4969.0

   no.donations.lifetime        first.donated
0                      0                  NaN
1                      5  1987-07-04 00:00:00
2                      7  2008-06-02 00:00:00
3                     28  1986-07-04 00:00:00
4                     16  1997-04-07 00:00:00
account.id                  object
shipping.zip.code           object
billing.zip.code            object
shipping.city               object
billing.city                object
relationship                object
amount.donated.2013        float64
amount.donated.lifetime    float64
no.donations.lifetime        int64
first.donated               object
dtype: object

In [15]:
# convert billing zip code to numeric
account_df['billing.zip.code'] = pd.to_numeric(account_df['billing.zip.code'], errors='coerce')
print(account_df.dtypes)

account.id                  object
shipping.zip.code           object
billing.zip.code           float64
shipping.city               object
billing.city                object
relationship                object
amount.donated.2013        float64
amount.donated.lifetime    float64
no.donations.lifetime        int64
first.donated               object
dtype: object

In [21]:
tickets_all = pd.read_csv('../data/tickets_all.csv')
print(tickets_all.head())
print(tickets_all.dtypes)
# turn price.level to numeric
tickets_all['price.level'] = pd.to_numeric(tickets_all['price.level'], errors='coerce')

        account.id price.level  no.seats      marketing.source     season
0  001i000000NuOP0           4         2                   NaN  2012-2013  \
1  001i000000NuOYU           1         1                 Other  2013-2014
2  001i000000NuRS9           4         2                   NaN  2011-2012
3  001i000000NuRPj           3         1  Postcard or brochure  2013-2014
4  001i000000NuRQ1           2         2                   NaN  2013-2014

            location  set multiple.tickets
0      San Francisco  4.0               no
1    Berkeley Sunday  6.0               no
2     Family concert  3.0               no
3  Berkeley Saturday  2.0               no
4  Berkeley Saturday  1.0               no
account.id           object
price.level          object
no.seats              int64
marketing.source     object
season               object
location             object
set                 float64
multiple.tickets     object
dtype: object

In [24]:
## make a pivot table for the location of the tickets_all per account
# each location will be a column and each row will be an account.id
# the values will be the number of tickets for that account at that location
tickets_pivot = tickets_all.pivot_table(index='account.id', columns='location', values='no.seats', aggfunc='count')
# fill nans with 0
tickets_pivot = tickets_pivot.fillna(0)
print(tickets_pivot.head())
print(tickets_pivot.columns)
print(tickets_pivot.shape)

# now make a pivot table for which set they went to
# each set will be a column and each row will be an account.id
# the values will be the price level of tickets for that account at that set
set_pivot = tickets_all.pivot_table(index='account.id', columns='set', values='price.level', aggfunc='count')
# fill nans with 0
set_pivot = set_pivot.fillna(0)
print(set_pivot.head())
print(set_pivot.columns)

# now make a pivot table for each season they have tickets for
# each season will be a column and each row will be an account.id
# the values will be the number of tickets for that account for that season
season_pivot = tickets_all.pivot_table(index='account.id', columns='season', values='no.seats', aggfunc='count')
# fill nans with 0
season_pivot = season_pivot.fillna(0)
print(season_pivot.head())
print(season_pivot.columns)

location         Berkeley Saturday  Berkeley Sunday  Contra Costa
account.id
001i000000LhyPd                0.0              0.0           0.0  \
001i000000LhyPj                0.0              0.0           0.0
001i000000LhyQD                0.0              0.0           0.0
001i000000LhyQO                1.0              0.0           0.0
001i000000LhyQr                0.0              0.0           0.0

location         Family concert  Peninsula  San Francisco
account.id
001i000000LhyPd             1.0        0.0            0.0
001i000000LhyPj             0.0        1.0            0.0
001i000000LhyQD             0.0        1.0            0.0
001i000000LhyQO             0.0        0.0            0.0
001i000000LhyQr             0.0        0.0            3.0
Index(['Berkeley Saturday', 'Berkeley Sunday', 'Contra Costa',
       'Family concert', 'Peninsula', 'San Francisco'],
      dtype='object', name='location')
(2027, 6)
set              1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0
account.id
001i000000LhyPd  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
001i000000LhyPj  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
001i000000LhyQD  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
001i000000LhyQO  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
001i000000LhyQr  0.0  0.0  0.0  0.0  2.0  1.0  0.0  0.0
Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64', name='set')
season           2010-2011  2011-2012  2012-2013  2013-2014
account.id
001i000000LhyPd        0.0        0.0        1.0        0.0
001i000000LhyPj        0.0        0.0        1.0        0.0
001i000000LhyQD        1.0        0.0        0.0        0.0
001i000000LhyQO        0.0        1.0        0.0        0.0
001i000000LhyQj        1.0        0.0        0.0        0.0
Index(['2010-2011', '2011-2012', '2012-2013', '2013-2014'], dtype='object', name='season')

In [25]:
# merge these pivot tables, season, set, and tickets pivot with each other
# the 3 pivot tables are all the same shape so I can just merge them all together
# first merge season and set
season_set = pd.merge(season_pivot, set_pivot, on='account.id')

# then merge season_set with tickets pivot
all_tickets = pd.merge(season_set, tickets_pivot, on='account.id')

# print
print(all_tickets.head())
print(all_tickets.columns)
print(all_tickets.shape)

                 2010-2011  2011-2012  2012-2013  2013-2014  1.0  2.0  3.0
account.id
001i000000LhyPd        0.0        0.0        1.0        0.0  0.0  0.0  0.0  \
001i000000LhyPj        0.0        0.0        1.0        0.0  1.0  0.0  0.0
001i000000LhyQD        1.0        0.0        0.0        0.0  0.0  0.0  0.0
001i000000LhyQO        0.0        1.0        0.0        0.0  0.0  0.0  0.0
001i000000LhyQr        1.0        0.0        2.0        0.0  0.0  0.0  0.0

                 4.0  5.0  6.0  7.0  8.0  Berkeley Saturday  Berkeley Sunday
account.id
001i000000LhyPd  0.0  0.0  0.0  0.0  0.0                0.0              0.0  \
001i000000LhyPj  0.0  0.0  0.0  0.0  0.0                0.0              0.0
001i000000LhyQD  1.0  0.0  0.0  0.0  0.0                0.0              0.0
001i000000LhyQO  1.0  0.0  0.0  0.0  0.0                1.0              0.0
001i000000LhyQr  0.0  2.0  1.0  0.0  0.0                0.0              0.0

                 Contra Costa  Family concert  Peninsula  San Francisco
account.id
001i000000LhyPd           0.0             1.0        0.0            0.0
001i000000LhyPj           0.0             0.0        1.0            0.0
001i000000LhyQD           0.0             0.0        1.0            0.0
001i000000LhyQO           0.0             0.0        0.0            0.0
001i000000LhyQr           0.0             0.0        0.0            3.0
Index([        '2010-2011',         '2011-2012',         '2012-2013',
               '2013-2014',                 1.0,                 2.0,
                       3.0,                 4.0,                 5.0,
                       6.0,                 7.0,                 8.0,
       'Berkeley Saturday',   'Berkeley Sunday',      'Contra Costa',
          'Family concert',         'Peninsula',     'San Francisco'],
      dtype='object')
(2020, 18)